.our-clients {
  padding-top: 100px;
  padding-bottom: 440px;
  background: #edf2ee;
  width: 100%;
}
.clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.client {
  margin-top: 30px;
}
.clients h3 {
  color: #002603;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
}
.client-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 16px 10px 10px 10px;
  gap: 10px;
  background: #fff;
}
.client-comment p {
 
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #406b42;
  text-align: center;
}
.client-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 16px;
}
.client-info h3 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #002603;
  text-align: center;
}
.client-info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #618062;
}
.gap {
  gap: 28px;
}
