.our-clients {
  padding-top: 100px;
  padding-bottom: 460px;
  background: #edf2ee;
  width: 100%;
}
.client {
  margin-top: 43px;
}
.clients h3 {
  color: #002603;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
}
.client-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px 32px 44px 32px;
  gap: 24px;
  background: #fff;
}
.client-comment p {
  max-width: 360px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #406b42;
  text-align: center;
}
.client-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 16px;
}
.client-info h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #002603;
  text-align: center;
}
.client-info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #618062;
}
.gap {
  gap: 28px;
}
