.slider {
  padding-bottom: 60px;
}
.slider-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.slider-content strong {
  font-family: Segoe Script;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
  text-transform: uppercase;
  color: #20b526;
}
.slider-content h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #002603;
  margin-top: 4px;
  margin-bottom: 10px;
}
.slider-content p {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #618062;
}
.btn-primary {
  margin-top: 20px;
  background: #00b207;
  padding: 12px 26px;
  color: #ffffff;
  border-radius: 43px;
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #00b207;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-primary:hover {
  color: #00b207;
  background: #fff;
}
.slider-content del {
  font-weight: 600;
  font-size: 10px;
  line-height: 120%;
}

.slider-image {
  position: relative;
}
.slider-image .discount {
  position: absolute;
  top: 25%;
  right: 5%;
}
