.special-products {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #edf2ee;
  padding-top: 60px;
  padding-bottom: 60px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center p {
  color: #00b207;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
  text-transform: uppercase;
}
.center h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #002603;
  max-width: 508px;
  margin-top: 12px;
  margin-bottom: 24px;
}
.time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.time-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70px;
  height: 70px;
  padding: 20px 8px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  gap: 4px;
}
.time-item h4 {
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  color: #00b207;
  text-align: center;
}
.time-item p {
  color: Gray;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
}
.time-dot span {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}
