.special-products {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #edf2ee;
  padding-top: 102px;
  padding-bottom: 112px;
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-primary {
  margin-top: 32px;
  background: #00b207;
  padding: 16px 40px;
  color: #ffffff;
  border-radius: 43px;
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 1px solid #00b207;
  transition: all 0.3s ease;
}
.btn-primary:hover {
  color: #00b207;
  background: #fff;
}

.center p {
  color: #00b207;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
  text-transform: uppercase;
}
.center h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #002603;
  max-width: 508px;
  margin-top: 12px;
  margin-bottom: 24px;
}
.time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.time-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 96px;
  height: 96px;
  padding: 20px 8px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  gap: 4px;
}
.time-item h4 {
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: #00b207;
  text-align: center;
}
.time-item p {
  color: Gray;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
}
.time-dot span {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
}
.featured-products {
  padding: 100px;
}
/* .fea-pro h3 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 50px;
} */
